<div class="container mt-4">

  <h3 class="mb-4">Select Department, Class & Hour</h3>

  <div class="row g-3">

    <!-- ===============================
         DEPARTMENT
    ================================ -->
    <div class="col-md-3">
      <label class="form-label">Department</label>
      <select
        class="form-select"
        [(ngModel)]="selectedDept">
        <option value="">Select Department</option>
        @for (dept of departments(); track dept.dept_id) {
          <option [value]="dept.dept_id">
            {{ dept.dept_name }}
          </option>
        }
      </select>
    </div>

    <!-- ===============================
         CLASS
    ================================ -->
    <div class="col-md-3">
      <label class="form-label">Class</label>
      <select
        class="form-select"
        [(ngModel)]="selectedClass">
        <option value="">Select Class</option>
        @for (cls of classes(); track cls.class_id) {
          @if (cls.dept_id == selectedDept()) {
            <option [value]="cls.class_id">
              {{ cls.class_name }}
            </option>
          }
        }
      </select>
    </div>

    <!-- ===============================
         DATE
    ================================ -->
    <div class="col-md-3">
      <label class="form-label">Date</label>
      <input
        type="date"
        class="form-control"
        [(ngModel)]="selectedDate">
    </div>

    <!-- ===============================
         HOUR
    ================================ -->
    <div class="col-md-3">
      <label class="form-label"  >Hour</label>
      <select 
        ariaPlaceholder="Select Hour"
        class="form-select"
        [(ngModel)]="selectedHour">
        <option value="1">Hour 1</option>
        <option value="2">Hour 2</option>
        <option value="3">Hour 3</option>
        <option value="4">Hour 4</option>
        <option value="5">Hour 5</option>
      </select>
    </div>

  </div>

  <!-- ===============================
       PROCEED BUTTON
  ================================ -->
  <div class="mt-4 d-flex justify-content-end align-items-center">
    <button class="btn btn-primary" (click)="proceed()">
      Proceed to Attendance
    </button>
  </div>
  <div class="my-4">
    <button class="btn btn-info" routerLink="/overall">
      Get OverallAttendance
    </button>
  </div>

</div>


<div class="d-flex justify-content-end align-items-center gap-20 p-4">
     <button class="btn btn-dark" routerLink="/teacher-manage">
        Manage Teacher
    </button>
    <button class="btn btn-outline-info" routerLink="/teacher/students">
        Manage Student
    </button>
</div>